/* display loading gif and hide webpage */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8)
                url('res/ajax-loader.gif')
                50% 50%
                no-repeat;
}
/* prevent scrollbar from display during load */
body.loading {
    overflow: hidden;
}
/* display the modal when loading class is added to body */
body.loading .modal {
    display: block;
}
.container {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
}
.center {
    text-align: center;
}
.center-block {
    display: block;
    margin: auto;
}
.smol {
    position: absolute;
    top: 0;
    right: 0;
}
.smol video {
    display: block;
    margin: 0px auto;
    width: 80px;
    height: 60px;
}
#canvasOutput {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
#myProgress {
    display: block;
    margin: auto;
    background-color: gray;
}
#myBar {
    width: 0%;
    height: 10px;
    background-color: #4CAF50;
}